$primarycolor: #171717;
$secondarycolor: #d66fd8;
$tertiarycolor: #8939c3;

@mixin setup-font {
	font-family: obviously, sans-serif;
	font-weight: 400;
	font-style: normal;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

p {
	font-family: obviously, sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: $primarycolor;
	margin: 0;
	height: 100vh;
	overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul li,
a {
	font-family: obviously-wide, sans-serif;
	font-style: normal;
	color: #fff;
}

h1,
h2 {
	font-weight: 600;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 5rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 110%;
}

p {
	font-size: 0.8rem;
	font-weight: 400;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.window {
	transform: translateY(30%);
	position: relative;
	margin: 0 20vw;
	border: solid 4px $secondarycolor;
	border-radius: 30px;
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60%;
	.circle {
		height: 30px;
		width: 30px;
		background-color: $secondarycolor;
		border-radius: 15px;
		position: absolute;
		top: 20px;
		right: 20px;
	}
}

.landing-img {
	position: absolute;
	bottom: -50;
	right: 20;
	height: 80vh;
	z-index: 999;
}

.join-button {
	margin-left: 20px;
	background-color: $secondarycolor;
	padding: 15px 20px 20px 20px;
	border-radius: 30px;
	font-size: 1rem;
	line-height: 110%;
	text-align: left;
	color: $primarycolor;
	font-size: 1.5rem;
	font-weight: 700;
	&:hover {
		transition: background-color 0.2s;
		background-color: $tertiarycolor;
	}
}

.present {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font-weight: 800;
		padding: 10vh;
		height: 5vh;
	}
	.zoom-grid {
		height: 50vh;
		display: grid;
		padding: 5vh 0;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 20px;
		align-items: center;
	}
	.panel {
		width: 300px;
		border: solid 3px $secondarycolor;
		border-radius: 10px;
		height: 100%;
		box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#controls {
		width: 80vw;
		display: flex;
		justify-content: space-around;
		> div {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		#duration {
			height: 100%;
			width: 220px;
			color: $secondarycolor;
			border: solid 5px $secondarycolor;
			border-radius: 50px;
			line-height: 2px;
			margin-right: 20px;
			h2 {
				padding: 30px 20px 0 20px;
				height: 0%;
				text-align: center;
				font-size: 2.4rem;
			}
		}
		.button {
			.mic-icon {
				font-size: 3rem;
			}
			height: 75px;
			width: 75px;
			border-radius: 45px;
			color: $primarycolor;
			background-color: $secondarycolor;
			&:hover {
				transition: background-color 0.2s;
				background-color: $tertiarycolor;
			}
		}
		#recordButton {
			width: 240px;
			font-size: 2rem;
			font-weight: 700;
		}
		#stopButton {
			border-radius: 20px;
			padding: 10px 20px;
			padding-bottom: 20px;
			font-size: 1.5rem;
			text-align: left;
			line-height: 100%;
			color: $primarycolor;
			cursor: pointer;
			&:hover {
				transition: background-color 0.2s;
				background-color: $tertiarycolor;
			}
		}
	}
}

.upload {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1 {
		text-align: center;
		line-height: 100%;
	}
	p {
		@include setup-font();
		margin-top: 10px;
		text-align: center;
		color: rgba(255, 255, 255, 0.5);
		width: 500px;
	}
	&__form {
		margin-top: 5vh;
		border: solid 4px $secondarycolor;
		border-radius: 20px;
		color: #fff;
		padding: 10px 20px;
		input {
			@include setup-font();
		}
		input[type='filepath'] {
			width: 400px;
		}
		input[type='submit'] {
			border: none;
			border-radius: 20px;
			padding: 5px 10px;
			cursor: pointer;
			outline: none;
			@include setup-font();
			&:hover {
				transition: background-color 0.2s;
				background-color: $secondarycolor;
			}
		}
	}
}

.loader {
	border: 10px solid $secondarycolor;
	border-top: 10px solid $tertiarycolor;
	border-radius: 50%;
	margin-top: 20px;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.metrics {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		margin-bottom: 10vh;
	}
	&-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		margin-bottom: 50px;
		&__card {
			height: 350px;
			width: 250px;
			padding: 20px;
			background-color: $primarycolor;
			border: 4px solid $secondarycolor;
			border-radius: 20px;
			box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
			h2 {
				line-height: 120%;
				color: $secondarycolor;
			}
			h3 {
				font-weight: 500;
				padding-bottom: 1rem;
				color: $secondarycolor;
			}
			p {
				width: 80%;
				font-weight: 400;
			}
		}
	}
}

.gradient-bg {
	position: absolute;
	top: 35vh;
	width: 100vw;
	height: 30vh;
	z-index: -999;
	background-image: linear-gradient(
		to bottom right,
		$secondarycolor,
		$tertiarycolor
	);
}
