html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #171717;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul li,
a {
  font-family: obviously-wide, sans-serif;
  font-style: normal;
  color: #fff;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 110%;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.window {
  position: relative;
  margin: 20vh 20vw;
  border: solid 4px #d66fd8;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}

.window .circle {
  height: 30px;
  width: 30px;
  background-color: #d66fd8;
  border-radius: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.join-button {
  margin-left: 20px;
  background-color: #d66fd8;
  padding: 15px 20px 20px 20px;
  border-radius: 30px;
  font-size: 1rem;
  line-height: 110%;
  text-align: left;
  color: #171717;
  font-size: 1.5rem;
  font-weight: 700;
}

.join-button:hover {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #8939c3;
}

.present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present h1 {
  font-weight: 800;
  padding: 10vh;
  height: 5vh;
}

.present .zoom-grid {
  height: 50vh;
  display: -ms-grid;
  display: grid;
  padding: 5vh 0;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present .panel {
  width: 300px;
  border: solid 3px #d66fd8;
  border-radius: 10px;
  height: 100%;
  -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.present #controls {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.present #controls > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present #controls #duration {
  height: 100%;
  width: 220px;
  color: #d66fd8;
  border: solid 5px #d66fd8;
  border-radius: 50px;
  line-height: 2px;
  margin-right: 20px;
}

.present #controls #duration h2 {
  padding: 30px 20px 0 20px;
  height: 0%;
  text-align: center;
  font-size: 2.4rem;
}

.present #controls .button {
  height: 75px;
  width: 75px;
  border-radius: 45px;
  color: #171717;
  background-color: #d66fd8;
}

.present #controls .button .mic-icon {
  font-size: 3rem;
}

.present #controls .button:hover {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #8939c3;
}

.present #controls #recordButton {
  width: 240px;
  font-size: 2rem;
  font-weight: 700;
}

.present #controls #stopButton {
  border-radius: 20px;
  padding: 10px 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  text-align: left;
  line-height: 100%;
  color: #171717;
  cursor: pointer;
}

.present #controls #stopButton:hover {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #8939c3;
}

.upload {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload h1 {
  text-align: center;
  line-height: 100%;
}

.upload__form {
  margin-top: 5vh;
  border: solid 4px #d66fd8;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
}

.upload__form input {
  font-family: obviously, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.upload__form input[type='filepath'] {
  width: 400px;
}

.upload__form input[type='submit'] {
  border: none;
  outline: none;
  font-family: obviously, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.upload__form input[type='submit']:hover {
  background-color: #d66fd8;
}

.metrics {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics h1 {
  margin-bottom: 10vh;
}

.metrics-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}

.metrics-grid__card {
  height: 350px;
  width: 250px;
  padding: 20px;
  background-color: #171717;
  border: 4px solid #d66fd8;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
}

.metrics-grid__card h2 {
  line-height: 120%;
  color: #d66fd8;
}

.metrics-grid__card h3 {
  font-weight: 500;
  padding-bottom: 1rem;
  color: #d66fd8;
}

.metrics-grid__card p {
  width: 80%;
  font-weight: 400;
}

.gradient-bg {
  position: absolute;
  top: 35vh;
  width: 100vw;
  height: 30vh;
  z-index: -999;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d66fd8), to(#8939c3));
  background-image: linear-gradient(to bottom right, #d66fd8, #8939c3);
}
/*# sourceMappingURL=main.css.map */