<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ucs8hfr.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>iPresent</title>
</head>
<body>
    <div class="window">
        <div class="circle"></div>
        <h1>iPresent</h1>
        <a href="/present" class="join-button">JOIN <br/>MEETING</a>
    </div>
    <img class="landing-img" src="../static//img/pointing-up.png" alt="hand pointing up"/>
</body>
</html>