<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ucs8hfr.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Results | iPresent</title>
</head>
<body>
    <div class="metrics">
        <div class="metrics-heading">
            <img src="../static/logo.svg" alt="iPresent logo"/>
            <h1>iPresent <span>results</span></h1>
        </div>
        <div class="metrics-grid">
            <div class="metrics-grid__card card1">
                <h3>common words used</h3>
                <ul>
                    <li>{{common_1}}<span>{{common_1_count}}</span></li>
                    <li>{{common_2}}<span>{{common_2_count}}</span></li>
                    <li>{{common_3}}<span>{{common_3_count}}</span></li>
                    <li>{{common_4}}<span>{{common_4_count}}</span></li>
                </ul>
                <p>do these words align with you presentation's purpose?</p>
            </div>
            <div class="metrics-grid__card card2">
                <h3>your clarity was</h3>
                <div>
                    <h2>{{clarity}}%</h2>
                    <p>make sure to be clear on your word delivery!</p>
                </div>
            </div>
            <div class="metrics-grid__card card3">
                <h3>overall sentiment</h3>
                {% if sentiment_score > 0.2 %}
                <h2>Positive</h2>
                {% elif sentiment_score < -0.2 %}
                <h2>Negative</h2>
                {% else %}
                <h2>Neutral</h2>
                {% endif %}
                <p>make sure that this resonates with the goal of your presentation</p>
            </div>
            <div class="metrics-grid__card card4">
                <div>
                    <h2>{{brevity}}</h2>
                    <h3>occurences of filler words and hedging language</h3>
                </div>
                <p>common filler words are 'um', 'like', and 'I mean'</p>
            </div>
            <div class="metrics-grid__card card5">
                <h2>{{wpm}}</h2>
                <h3>words per minute</h3>
                <p>the human average for wpm is 90. you're on point!</p>
            </div>
            <div class="metrics-grid__card card6">
                <h3>overall AI impression</h3>
                <h2>{{ai_impression}}</h2>
            </div>
            <div class="metrics-grid__card card7">
                <h3>it was {{expressiveness}}%</h3>
                <h2>expressive</h2>
                <p>your presentation lacked sufficient emphasis and intonation</p>
            </div>
        </div>
        <div class="metrics-actions">
            <a href="/" class="join-button">JOIN NEW MEETING</a>
        </div>
    </div>
</body>
</html>