<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ucs8hfr.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Results | iPresent</title>
</head>
<body>
    <div class="metrics">
        <div class="metrics-heading">
            <img src="../static/logo.svg" alt="iPresent logo"/>
            <h1>iPresent <span>results</span></h1>
        </div>
        <div class="metrics-grid">
            <div class="metrics-grid__card card1">
                <h3>common words used</h3>
                <ul>
                    <li>good<span>20</span></li>
                    <li>product<span>18</span></li>
                    <li>problem<span>7</span></li>
                    <li>their<span>6</span></li>
                </ul>
                <p>do these words align with you presentation's purpose?</p>
            </div>
            <div class="metrics-grid__card card2">
                <h3>your clarity was</h3>
                <div>
                    <h2>55%</h2>
                    <p>make sure to be clear on your word delivery!</p>
                </div>
            </div>
            <div class="metrics-grid__card card3">
                <h3>overall sentiment</h3>
                <h2>positive</h2>
                <p>you seem to be delivering well!</p>
            </div>
            <div class="metrics-grid__card card4">
                <div>
                    <h2>30</h2>
                    <h3>occurences of filler words and hedging language</h3>
                </div>
                <p>most common were 'um', 'like' and 'well'</p>
            </div>
            <div class="metrics-grid__card card5">
                <h2>90</h2>
                <h3>words per minute</h3>
                <p>the human average for wpm is 90. you're on point!</p>
            </div>
            <div class="metrics-grid__card card6">
                <h3>overall ai impression</h3>
                <h2>beautiful</h2>
            </div>
            <div class="metrics-grid__card card7">
                <h3>it was 80%</h3>
                <h2>neutral</h2>
                <p>your presentation lacked sufficient emphasis and intonation</p>
            </div>
        </div>
        <div class="metrics-actions">
            <button href="/" class="download">DOWNLOAD TRANSCRIPT</button>
            <a href="/" class="join-button">JOIN NEW MEETING</a>
        </div>
    </div>
</body>
</html>