<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ucs8hfr.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Upload Your File | iPresent</title>
</head>
<body>
    <div class="upload">
        <h1>upload the <br/>audio file</h1>
        <form class="upload__form" action="/results" method="POST">
            <input type="file" accept="audio/wav" name="file-upload" id="file-upload">
            <input type="text" placeholder="ex. /Users/<username>/Downloads" name="file-path" id="file-path">
            <input type="submit" value="Upload Presentation" name="submit">
        </form>
    </div>
</body>
</html>
